{% extends 'layouts/html.twig' %}

{% set bodyClass = 'page' %}

{% block body %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{ is_current_path('home') ? 'active' : '' }}">
                    <a class="nav-link" href="{{ path_for('home') }}">Главная</a>
                </li>
                <li class="nav-item {{ is_current_path('performance') ? 'active' : '' }}">
                    <a class="nav-link" href="{{ path_for('performance') }}">Производительность</a>
                </li>
                <li class="nav-item {{ is_current_path('logout') ? 'active' : '' }}">
                    <a class="nav-link" href="{{ path_for('logout') }}">Выход ({{ user.username }})</a>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main" class="container-fluid">
        {% block content %}{% endblock %}
        {% if env('local') %}
            <footer class="mt-3">
                {{ debug() }}
            </footer>
        {% endif %}
    </main>
{% endblock %}