{% if step > 2 %}

	<h4>План за текущий месяц:</h4>
	<div class="form-row">
		<div class="form-group col-auto m-0">
			<div class="form-control-plaintext">
				Выбраны столбцы: [
				{% for key, value in report_columns %}
					{% if key in current_columns %}
						"{{ value }}" <input type="hidden" name="current_columns[]" value="{{ key }}" />
					{% endif %}
				{% endfor %}
				]
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-auto">
			<div class="form-control-plaintext">
				{% for task in current_tasks %}
					<div class="my-1">
						<input type="hidden" name="current_task_id[]" value="{{ task.id }}" />
						{{ task.title }}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	{% include 'home/_step_3.twig' %}

{% else %}

	<input type="hidden" name="step" value="3" />
	{% if task_tree %}
		<h4>Выберите задачи за текущий месяц:</h4>
		{{ include('home/_tree.twig', {task_tree:task_tree, name:'current_task_id', multiple:true}) }}

		<h4>Выберите столбцы:</h4>
		{{ include('home/_task_columns.twig', {columns:report_columns, name:'current_columns', selected:current_columns}) }}

		<button type="submit" class="btn btn-primary">Далее</button>
	{% else %}
		<p class="text-muted my-2">К сожалению, не удалось найти задачи в данном проекте.<br/>Попробуйте снова.</p>
	{% endif %}

	<a href="{{ path_for(currentRoute) }}" class="btn btn-primary">Назад</a>
{% endif %}