<div class="form-row">
	<div class="form-group col-auto">
		{% for key, value in columns %}
			{% set attribute = "#{name}_#{key}" %}
			<label for="{{ attribute }}">
				<input type="checkbox" id="{{ attribute }}" name="{{ name }}[]" value="{{ key }}"{% if key in selected %} checked{% endif %} /> {{ value }}
			</label>
		{% endfor %}
	</div>
</div>